.poster_conatiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0);
    color: white;
    max-width: 100%;
    /* border: 2px solid red; */
    height: 100%;
}
.poster_img {
}
.poster_information_block {
    padding: 20px;
}
.poster_title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}
.poster_date {
    margin-bottom: 15px;
    color: rgb(141, 140, 138);
    font-size: 16px;
    font-weight: 700;
}
.poster_rate_block {
    display: flex;
}
.poster_rate {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 900;
}
